@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=New+Rocker&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url("assets/gif_static.gif");
    background-size: cover;
    font-family: "Asimovian", sans-serif;
    height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #5c5c5c53;
    width: 300px;
    background-image: url("assets/purple_static.jpg");
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.596);
}

#top-nav {
    display: flex;
    justify-content: right;
}

.nav-btn {
    font-family: "Asimovian", sans-serif;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid #5c5c5c53;
    background-color: rgba(92, 78, 92, 0.662);
    color: #110016;
    padding: 2px 5px;
    font-size: 15px;
}

.nav-btn:hover {
    background-color: #d1a3ff;
    cursor: pointer;
    box-shadow: 0px 0px 10px #ffffffc5;
}

#main {
    margin-top: 5px;
    background-color: #3333338a;
    border-radius: 5px;
    padding: 7px;
}

#big-img {
    width: 300px;
    height: 132.5px;
    mask-image: url("assets/border.png");
    mask-size: cover;
}

#chain {
    width: 300px;
    height: 10px;
}

#text {
    display: grid;
    grid-template-areas:
        "info content content";
    grid-template-columns: 35% 1fr;
    margin-top: 7px;
}

#info {
    grid-area: info;
    width: 100px;
}

#round-img {
    width: 100px;
    mask-image: url("assets/clock.png");
    mask-size: cover;
}

#idle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 95px;
}

#name {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.499);
    margin: 0;
}

#bio {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.499);
    margin: 0;
}

#home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #9f9f9f98;
    grid-area: content;
    margin-right: 5px;
    border-radius: 5px;
    font-family: "New Rocker", system-ui;
    color: #252525;
    margin: 0;
}

h3 {
    margin: 10px;
}

.content-info {
    font-size: small;
    font-size: 10px;
}